body {
	font-family: "San Francisco", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #3C95A4;
	font-weight: bold;
}

a, a:hover, a:focus {
	color: #E6E6E6;
	text-decoration: none;
}

nav {
	background-color: #181919;
}

.navbar-brand {
	font-weight: bold;
	font-style: italic;
}

.card {
	background-color: #181919;
	border: 1px solid #252626;
}

.card h4 {
	font-weight: bold;
	font-style: italic;
}

@font-face{
	font-family: "San Francisco";
	src: url("/css/fonts/SF-Pro-Display-Light.otf");
}

@font-face{
	font-family: "San Francisco";
	src: url("/css/fonts/SF-Pro-Display-Semibold.otf");
	font-weight: bold;
}

@font-face{
	font-family: "San Francisco";
	src: url("/css/fonts/SF-Pro-Display-BlackItalic.otf");
	font-weight: bold;
	font-style: italic;
}